@charset "UTF-8";
/*移动端适配*/
/*屏幕小于960的时候执行的样式*/
@media (max-width: 375px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\000036}}
  body {
    width: 100% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\000037}}
  .headerBar {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\000038}}
  .header_mobile {
    display: block !important;
    height: 60px;
    background: #fff;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\000039}}
  .logo {
    float: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000310}}
  .logo a {
    background: url(../images/logo.png) 50% no-repeat;
    width: 80px;
    background-size: 80px;
    display: block;
    padding: 63px 0 0 44px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000311}}
  .btn {
    float: left;
    margin-left: 46%;
    margin-top: 6%;
    width: 13%;
    border: 0;
    outline: none;
    background: #fff;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000312}}
  .btn span {
    display: block;
    border-top: 3px solid #000;
    margin-bottom: 2px;
    width: 77%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000313}}
  .drop_down_mobile {
    clear: left;
    background: #fff;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000314}}
  .drop_down_mobile li {
    height: 37px;
    border-bottom: 1px solid #ccc;
    line-height: 37px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000315}}
  .drop_down_mobile li a {
    text-decoration: none;
    color: #000;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000318}}
  .content1 {
    width: 321px;
    height: 342px !important;
    margin: 6px 0 0 28px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000319}}
  .col-sm-3 {
    width: 47% !important;
    margin: 2px 0 0 7px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000320}}
  .col-sm-3 img {
    width: 90% !important;
    height: 90% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000321}}
  .jPaginate {
    left: 6% !important;
  }
}
/*屏幕小于414的时候执行的样式*/
@media (max-width: 414px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000327}}
  body {
    width: 100% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000328}}
  .content1 {
    width: 321px;
    height: 342px !important;
    margin: 6px 0 0 43px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000329}}
  .col-sm-3 {
    width: 47% !important;
    margin: 2px 0 0 9px !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000330}}
  .col-sm-3 img {
    width: 90% !important;
    height: 90% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000331}}
  .jPaginate {
    left: 6% !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000335}}
* {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000337}}
body {
  background-color: #FDF1F1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000341}}
.container {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000344}}
.comWidth {
  width: 1192px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000348}}
.headerBar {
  height: 66px;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000352}}
.headerBar .nav_item li {
  float: left;
  list-style: none;
  width: 80px;
  line-height: 66px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000358}}
.headerBar .nav_item li a {
  text-decoration: none;
  color: #555;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000371}}
.main .leftArea {
  width: 872px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000373}}
.main .leftArea .menu {
  margin: 16px 0;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000376}}
.main .leftArea .menu .title {
  height: 58px;
  line-height: 58px;
  border-bottom: 1px solid #ccc;
  margin-left: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000383}}
.main .leftArea .menu .content1 {
  background: #fff;
  height: 214px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000386}}
.main .leftArea .menu .content1 .col-sm-3 {
  float: left;
  width: 170px;
  height: 170px;
  margin: 30px 0 0 35px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/git\/Git\/yueyue\/yueyue\/css\/main\.scss}line{font-family:\0000392}}
.main .leftArea .menu .content1 .col-sm-3 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
